/*
 *	Font courtesy of: http://www.fontsquirrel.com/fonts/source-sans-pro 
 *	Color scheme:
 *		#FAFAF8 (white)
 *		#4E4D53 (black)
 *		#0490A9 (blue)
 *		#FD616C	(red)
 *		#FEF167	(yellow)
 *	Color scheme courtesy of http://www.colorschemer.com/schemes/viewscheme.php?id=10323
 */

/* Creating the font (local file, not pre-loaded font. */
@font-face {
	font-family: SSP;
	src: url(font/SourceSansPro-ExtraLight.otf);
}
@font-face {	/* Too bold - not in use currently but may add use for it */
	font-family: SSPBold;
	src: url(font/SourceSansPro-Bold.otf);
}
@font-face {
	font-family: SSPSBold;
	src: url(font/SourceSansPro-Semibold.otf);
}

/* Overall Styles */
h1, h3 {
	color: #0490A9;
}
h3, th {
	font-family: SSPSBold;
}
head, html {
	font-family: SSP;
	font-size: 18px;
	color: #4E4D53;
	background-color: #FAFAF8;
	padding: 20px 20px 0 20px;
}
hr {
	border: none;
	height: 1px;
	background-color: #4E4D53;
}
th, td {
	padding: 10px 5px;
}
/* Top styles */
h1 {
	font-size: 75px;
	margin: 0 20px 20px 0;
	display: inline-block;
}
#desc {
	display: inline-block;
	font-size: 20px;
}

/* Bottom Styles */
#all {
	min-height: 100%;
	position: relative;
	margin: 0;
	padding-bottom: 150px;
}
#footer {
	height: 120px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

/* Body Styles */
#show_options, #show_notes {
	width: 50%;
	display: inline-block;
	vertical-align: text-top;
}
#show_notes > p {
	margin: 0;
}
#show_notes_table th:nth-child(1) {
	width: 10%;
}
#show_notes_table th:nth-child(2) {
	width: 80%;
}
#show_notes_table th:nth-child(3) {
	width: 10%;
}